@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto:wght@100;300;400&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");



body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;

}
ul{
  list-style: none;
}

/* Styles pour la nav */
nav {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-list {
  font-size: small;
  padding-right: 20px;
  align-items: center;
}

nav ul {
display: flex;
flex-wrap: wrap;
gap: 20px;
list-style: none;
font-weight: bolder;
}

nav ul a {
text-decoration: none;
color: #fff;
}

nav ul a:hover {
text-decoration: underline;
color: rgb(15, 119, 15);
}

ul.light-mode{
    color: #000;
}

h1 {
  color: rgb(6, 69, 6);
  margin: 0;
}

#mode-toggle {
  cursor: pointer;
  
}


/* Styles pour le mode jour */
body.light-mode {
  background-color: #fff;
  color: #000;
}

nav.light-mode {
  background-color: #f0f0f0;
}

h1.light-mode {
  color: #090;
}

/* Styles pour le header */

header{
  height: 300px;
    text-align: center;
    object-fit: cover;
    background-image: url('https://img.freepik.com/vecteurs-libre/sphere-big-data-verte-chaines-nombres-binaires_1217-2312.jpg?w=740&t=st=1695301554~exp=1695302154~hmac=40d272fff3df1a6d9bdd8b59dff8a96963d84a0f4cfe996f5c1c3ae8da962086');
}
#nav-list {
  
  display: none;
}

.show {
  display: block;
}

/*section présentation*/

.presentation{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.presentation img{
  width: 50vw;
  border-radius: 5px;
}

.text-presentation{
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  height: 400px;
}
/*main----*/
main{

}

/*section projet*/

.projets{
  background-color: #fff;
  color: #090;
  text-align: center;
  justify-content: center;
}

.les-projets{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  place-content: center;
  margin: 0;
}

.les-projets figure{
  background-color: #d3cfcf;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
}

.les-projets img{
  width: 200px
}

.les-projets a{
  text-decoration: none;
  color: #fff;
}

/*section compétences*/

.competences{
  color: #d3cfcf;
  text-align: center;
  justify-content: center;
}

.liste{
  
  font-size: 12px;
  border: red solid 1px;
  display: flex;
  align-items: center;
  place-content: center;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
width: calc ((100% - 20px) / 2);
}

.liste figure{
  background-color: #fff;
  border-radius: 5px;
  margin: 0;
  font-size: 17px;
  padding: 20px;
  width: 300px;
}

.liste figcaption{
  color: #fff;
  font-size: 14px;
}

.liste figure:hover{
  background-color:black;
  border:1px solid white; 
}

.langages-tech{
  display: flex;
  gap: 20px;
  padding-block: 0;
  padding-inline: 10px;
  margin: 0;
  flex-wrap: wrap;
  place-content: center;
}

/*aside*/

aside{
  background-color: #fff;
  color: black;
}

.cv{
  display: flex;
  gap: 20px;
  border-left: 1px solid #000;
}


/*footer*/

footer{
  display: flex;
  background-color: #222;
  color: #fff;
  justify-content:space-around;
  padding: 20px;
  text-decoration: none;
}

footer a{
  text-decoration: none;
  color: #fff;
}




@media screen and (min-width: 768px) {
  /* Styles pour les écrans de taille supérieure à 768px */
  #nav-list {
    display: flex;
  }
  
  #menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* Styles pour les écrans de taille inférieure ou égale à 767px */
  #nav-list {
    display: none;
  }
  
  #menu-toggle {
    display: block;
  }
}

/* Styles pour le bouton de menu burger */
#menu-toggle {
  position: relative;
  border: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
}

.light-mode .bar {
  background-color: #fff;
}
